@import url(_fz/_edit/popup__button_fz_edit.css);
@import url(_fz/_edit/popup__button_fz_add.css);
@import url(_is-disabled/popup__button_is-disabled.css);
@import url(_is-enabled/popup__button_is-enabled.css);

.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 48px;
}
